[Unit]
Description=The PHP FastCGI Process Manager for qycli
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/phpPHPVER/sbin/php-fpm --nodaemonize --php-ini /etc/php/fpm/php.ini --fpm-config /etc/php/fpm/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID
BindPaths=/etc
BindPaths=/run/qycli
BindPaths=/var/log/qycli

[Install]
WantedBy=multi-user.target
